In [2]:
import pandas as pd

In [23]:
df  = pd.read_csv('data.csv')
df.head()

,payment_type,profit_per_order,sales_per_customer,category_id,category_name,customer_city,customer_country,customer_id,customer_segment,customer_state,...,order_region,order_state,order_status,product_card_id,product_category_id,product_name,product_price,shipping_date,shipping_mode,label
0,DEBIT,34.448338,92.49099,9.0,Cardio Equipment,Caguas,Puerto Rico,12097.6830,Consumer,PR,...,Western Europe,Vienna,COMPLETE,191.0,9.0,Nike Men's Free 5.0+ Running Shoe,99.99,2015-08-13 00:00:00+01:00,Standard Class,-1
1,TRANSFER,91.193540,181.99008,48.0,Water Sports,Albuquerque,EE. UU.,5108.1045,Consumer,CA,...,South America,Buenos Aires,PENDING,1073.0,48.0,Pelican Sunstream 100 Kayak,199.99,2017-04-09 00:00:00+01:00,Standard Class,-1
2,DEBIT,8.313806,89.96643,46.0,Indoor/Outdoor Games,Amarillo,Puerto Rico,4293.4478,Consumer,PR,...,Western Europe,Nord-Pas-de-Calais-Picardy,COMPLETE,1014.0,46.0,O'Brien Men's Neoprene Life Vest,49.98,2015-03-18 00:00:00+00:00,Second Class,1
3,TRANSFER,-89.463196,99.15065,17.0,Cleats,Caguas,Puerto Rico,546.5306,Consumer,PR,...,Central America,Santa Ana,PROCESSING,365.0,17.0,Perfect Fitness Perfect Rip Deck,59.99,2017-03-18 00:00:00+00:00,Second Class,0
4,DEBIT,44.722590,170.97824,48.0,Water Sports,Peabody,EE. UU.,1546.3980,Consumer,CA,...,Central America,Illinois,COMPLETE,1073.0,48.0,Pelican Sunstream 100 Kayak,199.99,2015-03-30 00:00:00+01:00,Standard Class,1

In [24]:
df.columns

Index(['payment_type', 'profit_per_order', 'sales_per_customer', 'category_id',
       'category_name', 'customer_city', 'customer_country', 'customer_id',
       'customer_segment', 'customer_state', 'customer_zipcode',
       'department_id', 'department_name', 'latitude', 'longitude', 'market',
       'order_city', 'order_country', 'order_customer_id', 'order_date',
       'order_id', 'order_item_cardprod_id', 'order_item_discount',
       'order_item_discount_rate', 'order_item_id', 'order_item_product_price',
       'order_item_profit_ratio', 'order_item_quantity', 'sales',
       'order_item_total_amount', 'order_profit_per_order', 'order_region',
       'order_state', 'order_status', 'product_card_id', 'product_category_id',
       'product_name', 'product_price', 'shipping_date', 'shipping_mode',
       'label'],
      dtype='object')

In [25]:
df['customer_segment'].value_counts()

customer_segment
Consumer       8332
Corporate      4603
Home Office    2614
Name: count, dtype: int64

In [26]:
df['sales']

0         99.990000
1        199.990000
2         99.960000
3        119.980000
4        199.990000
            ...
15544    399.980000
15545    199.920000
15546     59.971092
15547     59.990000
15548    327.186340
Name: sales, Length: 15549, dtype: float64

In [28]:
salessegment = df.groupby('customer_segment')['sales'].sum().reset_index().sort_values(by='sales')
salessegment.rename(columns={'customer_segment': 'Segment','sales':"Total Sales"},inplace=True)

In [29]:
salessegment

       Segment   Total Sales
2  Home Office  5.288424e+05
1    Corporate  9.287941e+05
0     Consumer  1.660906e+06

NameError: name 'df' is not defined

In [6]:
categorysegment = categorysegment.rename(columns={'order_id': 'Count'})


df_sorted = categorysegment.sort_values('Count', ascending= False)

top_5 = df_sorted.groupby('customer_segment').head(5)

top_5

NameError: name 'categorysegment' is not defined